@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap');

body {
	margin: 0;
	padding: 0;
	background: #eeeeee;
}

thead {
	background-color: #eeeeee
}

th, td {
	text-align: center;
}

div.container {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
}

h2.adminTitle {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 35px;
	font-weight: bold;
	padding-top: 60px;
	color: #404040;
}

div.container_1 {
	padding: 50px 0px;
}

#pagingNum {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}

input[type="button"] {
	font-weight: bold;
	background: #6800b8;
	color: white;
	padding: 5px 40px;
	border-radius : 0.8em;
}

input[type="button"]:hover {
	background: #5c00a2;
	color: white;
}

p {
	margin-top: 30px;
}

#adminListTable {
	line-height: 3rem;
}

div.search_board_area {
	display: flex;
	justify-content: space-between;
}

/* 작은 검색창 */
div.search_board {
	position: relative;
	width: 220px;
}

input.search_board_box {
	width: 100%;
	height: 40px;
	border: 1px solid #e0e0e0;
	border-radius: 0.8em;
	outline: none;
	font-size: 15px;
	color: #999;
}

input.search_board_img {
	position : absolute;
	width: 20px;
	top: 10px;
	right: 12px;
	margin: 0;
}
/* 작은 검색창 끝 */

#admin_page_form {
	width: 80%;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	border-radius: 0.8em;
	background-color: white;
	margin: auto;
}

#noResult {
	padding-top: 10px;
	font-size: 18px;
	font-weight: bold;	
}

.page-link {
	color: #000; 
	background-color: #fff;
	border: 1px solid #ccc; 
}

.page-item.active .page-link {
	z-index: 1;
	color: #555;
	font-weight:bold;
	background-color: #f1f1f1;
	border-color: #ccc;
}

.page-link:focus, .page-link:hover {
	color: #000;
	background-color: #fafafa; 
	border-color: #ccc;
}

.form-select:focus, .page-link:focus {
	box-shadow: none;
	border-color: #ced4da;
}
