@charset "UTF-8";

td.contentbox {
	background-color: #B0DAFF;
	height: 510px;
}

td.content_text {
	font-size: 16px;
	font-family: malgun;
	font-weight: bold;
	color: #146C94;
	text-align: right;
}

td.main_text {
	font-size: 16px;
	font-family: malgun;
	font-weight: bold;
	color: #146C94;
	text-align: left;
}

input.inputbox01 {
	border: 1px solid;
	border-color: #a2d2ff;
	background-color: #FFFFFF;
	width: 250px;
	font-family: Arial;
	font-size: 16px;
	color: #146C94;
	padding: 3px;
}

input.content_btn01 {
	border: 2px solid;
	border-color: #a2d2ff;
	background-color: #19A7CE;
	width: 180px;
	height: 40px;
	font-family: malgun;
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
	padding: 5px
}

input.content_btn01:hover {
	border: 2px solid;
	border-color: #a2d2ff;
	background-color: #146C94;
	width: 180px;
	height: 40px;
	font-family: malgun;
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;	
}

textarea.textareabox {
	border: 1px solid;
	border-color: #a2d2ff;
	background-color: #FFFFFF;
	width: 250px;
	font-family: Arial;
	font-size: 16px;
	color: #146C94;
	padding: 3px;
}


