@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap');

body {
	margin: 0;
	padding: 0;
	background: #eeeeee;
}

div.container {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
}

h2.csBoardTitle {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 35px;
	font-weight: bold;
	padding-top: 60px;
	color: #323232;
}

div.container_1 {
	padding: 50px 0px;
}

#pagingNum {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}

input[type="button"] {
	font-weight: 500;
	background: #6800b8;
	color: white;
	padding: 5px 40px;
	border-radius : 0.8em;
	border-color: active-border;
}

input[type="button"]:hover {
	background: #5c00a2;
	color: white;
    
}

#csListTable {
	line-height: 3rem;
	margin-top: 40px;
}

div.search_board_area {
	display: flex;
	justify-content: space-between;
}

div.search_board {
	position: relative;
	width: 220px;
}

input.search_board_box {
	width: 100%;
	height: 40px;
	border: 1px solid #e0e0e0;
	border-radius: 0.8em;
	outline: none;
	font-size: 15px;
	color: #999;
}

input.search_board_img {
	position : absolute;
	width: 20px;
	top: 10px;
	right: 12px;
	margin: 0;
}

#csBoard_page_form {
	background-color: white;
	padding-right: 50px;
	padding-left: 50px;
	border-radius: 0.8em;
	padding-bottom: 50px;
}
