@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap');

body {
	margin: 0;
	padding: 0;
	background: #eeeeee;
}

thead {
	background-color: #eeeeee
}

th, td {
	text-align: left;
}

div.container {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
}

div.container_1 {
	padding: 10px 0px;
}

h2.csBoardTitle {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 35px;
	font-weight: bold;
	padding-top: 60px;
	margin-bottom: 40px;
	color: #404040;
}

div.reply_write {
	margin-top: 30px;
	border:1px solid #e4e4e4; 
	padding:10px 15px 8px 15px; 
	background:#f6f6f6
}

div.button_area {
	float: right;
	margin-top: 10px;
}

div.button_modify {
	float: left;
	margin-right: 5px;
}

div.button_delete {
	float: left;
	margin-right: 5px;
}

div.button_list {
	float: left;
}

#reply_list {
	width:100%; 
	margin:30px 0 30px 0;
	border-top:1px solid #ddd;
}

#reply_list_id {
	font-size:15px; 
	height:15px; 
	color:#aaa; 
	padding-top: 30px;
}

#reply_list_cnt {
	font-size:15px; 
	height:14px; 
	padding-top:10px;
	color:#000; 
	font-weight:300; 
	line-height:22px;
}

#buttons {
	font-weight: bold;
	background: #e2e2e2;
	color: #555;
	padding: 5px 40px;
	border-radius : 0.8em;
}

#buttons:hover {
	background: #d4d4d4;
	color: #555;
}

#detail_form {
	margin-top: 40px;
}

#csBoard_page_form {
	width: 80%;
	height:auto;
	overflow:hidden;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 100px;
	border-radius: 0.8em;
	background-color: white;
	margin: auto;
	margin-top: 40px;
}

#basic-addon1 {
	width: 100px;
	font-weight: 700;
}

#pagingNum {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}

textarea.form-control {
	height: 300px;
}