@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap');

body {
	margin: 0;
	padding: 0;
	background: #eeeeee;
}

thead {
	background-color: #eeeeee
}

th, td {
	text-align: center;
}

div.container {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
}

h2.csBoardTitle {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 35px;
	font-weight: bold;
	padding-top: 60px;
	color: #404040;
}

div.container_1 {
	padding: 50px 0px;
}

#pagingNum {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}

div.button_area {
	float: right;
	margin-top: 10px;
}

div.button_modify {
	float: left;
	margin-right: 5px;
}

div.button_delete {
	float: left;
	margin-right: 5px;
}

div.button_list {
	float: left;
}

#buttons {
	font-weight: bold;
	background: #e2e2e2;
	color: #555;
	padding: 5px 40px;
	border-radius : 0.8em;
}

#buttons:hover {
	background: #d4d4d4;
	color: #555;
}

#detail_form {
	margin-top: 40px;
}

#csBoard_page_form {
	width: 80%;
	height: 800px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 100px;
	border-radius: 0.8em;
	background-color: white;
	margin: auto;
}

#basic-addon1 {
	width: 100px;
	font-weight: 700;
}

textarea.form-control {
	height: 300px;
}