@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#footer_wrap {
    min-height: 100%;
    position: relative;
}

.footer {
	width: 100%;
    height: 100px;
	bottom: 0px;
	left: 0;
	position: relative;
    padding: 27px;
    margin-top: 80px;
    line-height: 20px;
    text-align: center;
    background: #eeeeee;
    color: #333;
}

div.footerText {
	font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}