@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap');

body {
	margin: 0;
	padding: 0;
}

div.headerline {
	height: 220px;
	background: #ffffff;
}

tr.top_menu {
	float: right;
	top: 0;
	margin-top: 8px;
	margin-right: 180px;
}

.top_menu td {
   	padding: 0 5px;
}

td.toptext_userId {
	font-size: 13px;
	font-family: 'Noto Sans KR', sans-serif;
    color: #7c7c7c;
}

td.toptext {
	font-size: 13px;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
    color: #7c7c7c;
}

td.toptext:hover {
	color: #6800b8 ;
	font-weight: bolder;
}

hr.line {
	background: #d6d6d6;
    height:1px;
    border:0;
    margin: 8px;
    margin-top: 8px;
}

div.categoryline {
	margin-left: 200px;
}

img.logo {
	width: 240px;
	padding-right: 50px;
}

ul.category {
	padding: 0;
	display: flex;
	list-style: none;
}

li.categorytext {
	margin-right: 30px;
	padding: 9px;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
    color: #535353;
}

li.categorytext:hover {
	color: #6800b8 ;
	font-weight: bolder;
}

div.search {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

input.search_box {
	width:500px;
	height:50px;  
	padding:0 20px;
	border:1px solid #e0e0e0;
	border-radius:30px;
	outline: none;
	font-size:15px;
	color:#999;
	display: flex;
	}
	
div.search_btn {
	vertical-align:top;
	position:relative;
	
}
	
div.search_btn_img {
	position:absolute;
	padding: 8px;
	top:4px;
	left:450px;
}

a:link {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}