@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap');

body {
	margin: 0;
	padding: 0;
	background: #eeeeee;
}

div.container {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
}

div.container_1 {
  background-color: #ffffff;
  height: 500px;
  width: 60%;
  text-align: center;
  border-radius: 8px;
  margin: 30px auto; /* 가로 중앙 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#logoImg {
	margin-bottom: 50px;
	width: 25%;
}

div.confirm {
	margin: 5px 0;
	font-size: 17px;
}

b {
	font-size: 18px;
}

input.content_btn01{
	width:220px;
	height:50px;  
	padding:0 20px;
	margin: 50px 0;
	border:1px solid #6800b8;
	border-radius:10px;
	outline: none;
	font-size:18px;
	color:#ffffff;
	background: #6800b8;
	font-family: 'Noto Sans KR', sans-serif;
}

h5 {
	font-family: 'Noto Sans KR', sans-serif;
}

footer {
	position : absolute;
	bottom : 0;
}

div.container {
	margin-top: 92px;
}
