@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap');

body {
	margin: 0;
	padding: 0;
	background: #eeeeee;
}

a:hover {
	color: #6800b8;
	font-weight: bolder;
	font-family: 'Noto Sans KR', sans-serif;
}

input.login_box {
	width:500px;
	height:65px;  
	padding:0 20px;
	margin: 10px;
	border:1px solid #e0e0e0;
	border-radius:20px;
	outline: none;
	font-size:15px;
	color:#999;
	display: flex;
	
}	

input.login-button {
    width:500px;
	height:65px;  
	padding:0 20px;
	margin: 1px;
	border:1px solid #6800b8;
	border-radius:20px;
	outline: none;
	font-size:20px;
	color:#ffffff;
	background: #6800b8;
	font-family: 'Noto Sans KR', sans-serif;
	
    }
    
td.contentbox {
	background-color: #ffffff ;
	height : 500px;
	text-align: center;
	border-radius: 8px;
	
}

div.joinpage {
	font-size:15px;
	color:#999;
	font-family: 'Noto Sans KR', sans-serif;
	margin: 1px;
	padding: 10px;
	display: inline-block;
}



