@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

a:hover {
	color: #6800b8;
	font-weight: bolder;
	font-family: 'NanumSquare', sans-serif;
}

input.login_box {
	width:500px;
	height:50px;  
	padding:0 20px;
	border:1px solid #e0e0e0;
	border-radius:15px;
	outline: none;
	font-size:15px;
	color:#999;
	font-family: 'NanumSquare', sans-serif;
}	

td.contentbox {
	background-color:  #eeeeee ;
	height : 400px;
	text-align: center;
	border-radius: 8px;
}

input.login-button {
    width:500px;
	height:50px;  
	padding:0 20px;
	border:1px solid #6800b8;
	border-radius:15px;
	outline: none;
	font-size:15px;
	color:#ffffff;
	background: #6800b8;
	font-family: 'NanumSquare', sans-serif;
    }

div.join {
	font-size:17px;
	color:#999;
	font-family: 'NanumSquare', sans-serif;
	margin: 5px;
	padding: 10px;
	display: inline-block;
}

div.form-group {
	margin: 5px;
	padding: 10px;
}


