@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap');

div {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
}

#cardList {
	 width: 200px;
	 height: 400px;
}

#card_container {
	margin-top: 50px;
	margin-bottom: 50px;
}

div.top5 {
	font-size: 23px;
	font-weight: bold;
	float: left;
}

#cardBox {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}