@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap');

body {
	margin: 0;
	padding: 0;
	background: #eeeeee;
}

div.inner{
	padding-top: 50px;
	width: 1120px;
    margin: 0 auto;
    position: relative;
}

h2.title_txt{
	color : #ffffff;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
}
li.quick_menu_item{
	float: left;
    width: 206px;
    text-align: center;
    box-sizing: border-box;
    display: block;
    font-size: 0;
}
li.quick_menu_item_info{
	float: left;
    width: 206px;
    text-align: center;
    box-sizing: border-box;
    display: block;
    font-size: 0;
}
div.quick_menu_wrap {
	height: 135px;
    margin-bottom: 10px;
    border: 1px solid #242428;
    border-radius: 2px;
    background: #fff;
    box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;	
}

div.title{
	float: left;
    width: 257px;
    height: 100%;
    background: #242428;
    text-align: center;
    padding-top: 48px;
    box-sizing: border-box;
}
div.qmemu_box {
	display: inline-block;
    margin-left: 10px;
    padding-top: 2px;
    vertical-align: middle;
	font-family: 'Noto Sans KR', sans-serif;
}

span.qmenu_tit{
	display: block;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.5px;
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 15px;
}

span.qmenu_tit:hover {
	text-decoration: underline;
	text-underline-offset: 5px;
}

span.qmenu_txt{
	display: block;
    margin-top: 5px;
    line-height: 1;
    font-weight: 700;
    color: #400080;
	list-style: none;
	font-family: 'Noto Sans KR', sans-serif;
}

ul.quick_menu_list {
    float: left;
    max-width: 860px;
    margin-top: 44px;
    padding-left: 30px;
    box-sizing: border-box;
}
a.my_lmenu32{
	width: 100%;
	height: 10%;
	color:#808080;
}

div.help_rcont{
    width: 1120px;
    padding: 38px 59px 100px 60px;
    margin-bottom: 60px;
    box-sizing: border-box;
    background-color: #ffffff ;
	height:auto;	
}
div.guide_txt{
	margin-top: 70px;
	margin-left : 250px;
	text-align: left;	
}
p.guide_txt{
	position: relative;
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 20px;
    color: #878d95;
    margin: 27px 0 30px;
    font-family: 'Noto Sans KR', sans-serif;
}
h4.tit_reserve01{
	display: block;
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 500;
    line-height: 26px;
    font-family: 'Noto Sans KR', sans-serif;
}

h3.class{
	overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
}

div.sortbx{
	font-size: 18px;
    float: left;
    padding-left: 50px;
    font-family: 'Noto Sans KR', sans-serif;
}

ul.daysort{
	list-style: none;
	font-family: 'Noto Sans KR', sans-serif;
	float: left;
	margin-top: 36px;
	
}

ul.monthsortbx fr{
	list-style: none;
	font-family: 'Noto Sans KR', sans-serif;
}

div.basic_tbl basic_tbl_v3{
	font-family: 'Noto Sans KR', sans-serif;
	float: center;
	border-bottom: 1px solid #ecedf2;
	padding-left: 20px;
}

div.help_cont{
	border-right: 1px solid #ecedf2;
	border-bottom: 1px solid #ecedf2;
    background: #ffffff;
    width: 260px;
    height:auto;
	overflow:hidden;
  	float: left;
}

ul.help_lmenu{
	float: left;
    width: 255px;
    padding-top: 15px;
    list-style: none;
}

ul.help_submenu{
	list-style: none;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	padding: 2px;
}

li.has_sub{
	padding: 10px 18px 20px 26px;
    border-bottom: 1px solid #ecedf2;
    position: relative;
    box-sizing: border-box;
}

li.has_sub_last{
	padding: 10px 18px 20px 26px;
    position: relative;
    box-sizing: border-box;
}

span.help_submenu_tit{
	width: 100%;
	height: 0%;
	line-height: 60px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;	
}

div.h3_line {
	position: relative;
	float: left;
	padding: 10px;
	margin-left : 40px;
	text-decoration: underline;
	text-underline-offset: 15px;
}

h4.tit_reserve01{
	display: block;
	margin-bottom: 15px;
	font-size: 26px;
	line-height: 26px;
	font-weight: bold;
}

span.color_point{
	color: #fa2828 !important;
}

div.sortbx{
	margin-bottom: 20px;
	font-size: 12px;
}

dl.daysortbx fl{
	float: left;

}
ul.daysort{
	display: inline-block;
	overflow: hidden;
	padding-left: 1px;
	border-radius: 2px;
	vertical-align: middle;

}

li.ng-scope{
	float: left;
}
a.ng-binding{
	display: inline-block;
	width: 62px;
	box-sizing: border-box;
	margin-left: -1px;
	border :1px solid #ecedf2;
	color: #242428;
	text-align:center;
	height: 28px;
	line-height: 27px;
	font-size: 12px;
	font-weight:500;
}

p.guide_text{
	font-family: 'Noto Sans KR', sans-serif;
	position: relative;
    font-size: 13px;
    text-align: right;

}
a.color_point{
	color: #fa2828 !important;
	font-family: 'Noto Sans KR', sans-serif;
}

td.no_data{
	padding: 14px 4px;
	font-family: 'Noto Sans KR', sans-serif;
	text-align: center;
}
div.paging ng-isolate-scope{
	text-align: center;
	margin-top: 30px;
	font-family: 'Noto Sans KR', sans-serif;
}
a.first,prev,next,end{
	width: 24px;
	height: 34px;
	padding: 0;
	border: 0;
	font-size: 0;
	vertical-align: middle;
	position: relative;
	margin: 0 4px;
	font-family: 'Noto Sans KR', sans-serif;
	
}
div.container{
	padding-left: 270px;
}

div.colgroup{
	display: table-column-group;
}
thead {
	display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    font-family: 'Noto Sans KR', sans-serif;
}

tbody {
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    font-family: 'Noto Sans KR', sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.help_lmenu li.has_sub li.on a {
    color: #6800b8;
    position: relative;
    font-weight: bold;
}