@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap');

body {
	margin: 0;
	padding: 0;
	background: #eeeeee;
}

td.contentbox {
	float: center;
    width: 1000px;
    padding: 38px 59px 100px 60px;
    box-sizing: border-box;
    background-color: #ffffff ;
	height : 500px;
	text-align: center;
	
}
div.inner{
	padding-top: 50px;
	width: 1120px;
    margin: 0 auto;
    position: relative;
}
input.inputbox01 {
	width:500px;
	height:45px;  
	padding:0 10px;
	margin: 0px;
	border:1px solid #e0e0e0;
	border-radius:3px;
	outline: none;
	font-size:15px;
	color:#999;
	display: flex;
	font-family: 'Noto Sans KR', sans-serif;
}

td.content_text {
	font-family: 'Noto Sans KR', sans-serif;
	
}

input.content_btn01{
	width:200px;
	height:50px;  
	padding:0 20px;
	margin: 1px;
	border:1px solid #6800b8;
	border-radius:10px;
	outline: none;
	font-size:20px;
	color:#ffffff;
	background: #6800b8;
	font-family: 'Noto Sans KR', sans-serif;
}

input.content_btn02{
	width:200px;
	height:50px;  
	padding:0 20px;
	margin: 1px;
	border:1px solid #808080;
	border-radius:10px;
	outline: none;
	font-size:20px;
	color:#ffffff;
	background: #808080;
	font-family: 'Noto Sans KR', sans-serif;
}

h5 {
	font-family: 'Noto Sans KR', sans-serif;
	
}

div.quick_menu_wrap {
	height: 135px;
    margin-bottom: 10px;
    border: 1px solid #242428;
    border-radius: 2px;
    background: #fff;
    box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;	
}

div.title{
	float: left;
    width: 257px;
    height: 100%;
    background: #242428;
    text-align: center;
    padding-top: 48px;
    box-sizing: border-box;
}

ul.quick_menu_list {
    float: left;
    max-width: 860px;
    margin-top: 44px;
    padding-left: 30px;
    box-sizing: border-box;
}

li.quick_menu_item{
	float: left;
    width: 206px;
    text-align: center;
    box-sizing: border-box;
    display: block;
    font-size: 0;
}

div.qmemu_box {
	display: inline-block;
    margin-left: 10px;
    padding-top: 2px;
    vertical-align: middle;
	font-family: 'Noto Sans KR', sans-serif;
}

h2.title_txt{
	color : #ffffff;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
}

span.qmenu_tit{
	display: block;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.5px;
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 15px;
}

span.qmenu_tit:hover {
	text-decoration: underline;
	text-underline-offset: 5px;
}

div.help_cont{
	border-right: 1px solid #ecedf2;
	border-bottom: 1px solid #ecedf2;
    background: #ffffff;
    width: 260px;
    height:850px;
	overflow:hidden;
  	float: left;
}
ul.help_lmenu{
	float: left;
    width: 255px;
    padding-top: 15px;
    list-style: none;
}
li.has_sub{
	padding: 10px 18px 20px 26px;
    border-bottom: 1px solid #ecedf2;
    position: relative;
    box-sizing: border-box;
}
span.help_submenu_tit{
	width: 100%;
	height: 10%;
	line-height: 60px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;	
}

ul.help_submenu{
	list-style: none;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	padding: 2px;
}

li.has_sub_last{
	padding: 10px 18px 20px 26px;
    position: relative;
    box-sizing: border-box;
}

.has_sub_last ul.help_submenu li.on {
    color: #6800b8;
    position: relative;
    font-weight: bold;
}