@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap');

body {
	margin: 0;
	padding: 0;
	background: #eeeeee;
}

div.container {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
}

h2.rvTitle {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 35px;
	font-weight: bold;
	padding-top: 60px;
	margin: 10px;
	margin-left: 34px;
	color: #404040;
}

div.totalNum {
	font-weight: 600;
	margin-left: 37px;
	margin-bottom: 20px;
}

div.row {
	justify-content: left;
	margin-left: 15px;
}

div.card-body {
	width: 250px;
	padding: 0;
	margin-top: 20px;
}

h5.card-title {
	font-size: 17px;
	font-weight: bold;
}

#cardList {
	margin: 10px;
	width: 250px;
	height: 450px;
	border: 0;
	background-color:transparent;
}

#card_img {
	width: 250px;
	height: 300px;
	border-radius: 0.5em;
}

#cardBox {
   	display: flex;
  	flex-direction: column;
    align-items: center;
    justify-content: center;
}

#reservation_page {
	width: 95%;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	border-radius: 0.8em;
	margin: auto;
}


