@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap');

body {
	margin: 0;
	padding: 0;
	background: #eeeeee;
}

div.container {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
}

img.img-thumbnail {
	width: 450px;
	height: 600px;
}

div.eventTitle {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
	font-weight: bold;
	padding-top: 20px;
	color: #404040;
}

#rvView_page_form {
	width: 80%;
	padding-left: 50px;
	margin: auto;
}

#rev_detail_container_1 {
	float: left;
	width: 50%;
	font-size: 16px;
}

#rev_detail_container_2 {
	float: left;
	width: 50%;
	font-size: 16px;
	padding-left: 40px;
	padding-bottom: 20px;
}

#like_btn {
	margin: 5px 0px 20px;
}

div.detailTitle {
	margin-top: 10px;
}

#details_1 {
	float: left;
	font-weight: bold;
	margin-right: 69px;
}

#details {
	float: left;
	font-weight: bold;
	margin-right: 40px;
}

div.cal {
	margin: 20px 0px;
}

input[type="submit"] {
	background: #6800b8;
	color: white;
	margin-top: 15px;
	padding: 15px 118px;
	border-radius : 1em;
	border: none;
	font-size: 18px;
	font-weight: bold;
}

input[type="submit"]:hover {
	background: #5c00a2;
	color: white;
}

#btn_like {
	margin-right: 10px;
}

#tb_num1 {
	padding-left: 15px;
	width: 10%;
}

#tb_num2 {
	text-align: left;
	width: 40%;
}

#tb_num3 {
	text-align: left;
	width: 15%;
}

#reviewContainer {
	clear: left;
	margin: 0px 0px 30px 10px;
	width: 85%;
	padding: 20px 50px;
	background-color: white;
	border-radius: 0.8em;
}

#showMoreButtonWrapper {
	display: flex;
	justify-content: center;
}

#button {
	font-weight: bold;
	background: #555;
	color: #fff;
	padding: 5px 40px;
	border-radius : 0.8em;
}

.custom-button {
  	background-color: #e2e2e2;
  	font-weight: bold;
  	color: #555;
}

.custom-button:hover {
	background-color: #d4d4d4;
	font-weight: bold;
	color: #555;
}

.custom-button i {
 	color: #555;
}