@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap');

body {
	margin: 0;
	padding: 0;
	background: #eeeeee;
}

div.container {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
}

div.container_1 {
	padding: 50px 0px;
}

img.img-thumbnail {
	width: 40%;
}

h5.eventTitle {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	padding-top: 20px;
	color: #404040;
	float: right;
}

#rvView_page_form {
	width: 70%;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	margin: auto;
}