@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

span.title01 {
	font-size: 50px;
	color: #146C94;
	font-family: Arial;
	font-weight: bold;
}

span.title02 {
	font-size: 20px;
	color: #B0DAFF;
	font-family: Arial;
	font-weight: normal;
}
span.skilltext01 {
	font-size: 60px;
	color: #146C94;
	font-family: Arial;
	font-weight: bold;
}

span.skilltext02 {
	font-size: 40px;
	color: #19A7CE;
	font-family: Arial;
	font-weight: bold;
}

td.titlebox {
	text-align: center;
}

td.skillbox {
	background-color: #B0DAFF;
}

td.imgbox {
	text-align: center;
	background-color: #146C94;
}


